body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("https://images.pexels.com/photos/414102/pexels-photo-414102.jpeg?cs=srgb&dl=pexels-pixabay-414102.jpg&fm=jpg");
  background-size: cover;
  overflow: hidden;

}


h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-size: 16px;
    color: white;

}

.clock{
    display: flex;
    position: relative;

}

.clock div{
    margin: 5px;
}

.clock span{
    width: 130px;
    height: 100px;
    background: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
    height: 30px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.8;


}

.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 55px;
    height: 30px;
    font-size: 18px;
    background: purple;

}
